body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #ffffff; /* heller Hintergrund */
  color: #15293F; /* dunkelblauer Text */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
}

.logo,
.nav-logo {
  width: 60px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
  color: #15293F;
}

.tagline {
  font-size: 1.1rem;
  color: #4B5C74;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem auto;
  background-color: #2E64FE;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1d4ed8;
}

main {
  text-align: center;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  font-size: 12px;
  background-color: #15293F;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15293F;
  padding: 0.8rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  height: 40px;
}

.navbar-right a {
  color: white;
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: opacity 0.2s ease;
}

.navbar-right a:hover {
  opacity: 0.7;
}
